body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6899D3;
}
.header {
    background-color: #4284D3;
    width: 100%;
    height: 4rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: 100% auto;
    position: relative;
}
.blockinput {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 30%;
    text-align: center;
}
.loginpass {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    background-color: white;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 0.5rem;
}
button {
    margin-top: 1rem;
    height: 1.5rem;
    background-color: #0E53A7;
    color: white;
    border-radius: 5px;
}
.footer {
    background-color: #4284D3;
    width: 100%;
    height: 4rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    bottom:0;
    box-sizing: border-box;
    background-size: 100% auto;
}
.navigation {
    padding: 1.4rem;
    
}
.navigation a {
    text-decoration: none;
    padding-left: 1.5rem;
    color:white;
}

table {
    margin: 0 auto;
    width: 95%;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.cell {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: center;
}

.btn {
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 6px;
  background: white;
  transition: 0.2s;
}

.btn:hover:not(:disabled) {
  background: #f3f3f3;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* курсор указывает, что заголовки кликабельны */
th {
  user-select: none;
  white-space: nowrap;
}
td {
  color: black;
  border: 1px solid black;
  width: fit-content;
}
.filterstable {
    padding: 0.3rem;
    border: 1px solid black;
}
.filterstable input {
    width: 80%;
}

.pagination {
    color: black;
    margin-left: 2rem;
}
.pagination button {
    color: black;
    padding: auto;
    border: none;
}

.pagination span {
    margin: 1rem;
}
.logo {
    width: 50%;
    height: 75%;
    align-items: center;
    margin-left: 24%;
    margin-bottom: 0;
}

.headers {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#chart-container {
    width:95%; 
    height:500px; 
    margin-bottom:50px;
    margin-left: 2rem;
    border-radius: 10px;
}

#bar-chart-container {
    width:95%; 
    height:500px; 
    margin-bottom:50px;
    margin-left: 2rem;
    border-radius: 10px;
}

#bar2-chart-container {
    width:95%; 
    height:500px; 
    margin-bottom:50px;
    margin-left: 2rem;
}

#highcharts-1aul5s4-1266 {
    border-radius: 10px;
}