body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6899D3;
}
.header {
    background-color: #4284D3;
    width: 100%;
    height: 4rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: 100% auto;
    position: relative;
}
.blockinput {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    width: 30%;
    text-align: center;
}
.loginpass {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    background-color: white;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 0.5rem;
}
button {
    margin-top: 1rem;
    height: 1.5rem;
    background-color: #0E53A7;
    color: white;
    border-radius: 5px;
}
.footer {
    background-color: #4284D3;
    width: 100%;
    height: 4rem;
    padding: 0;
    margin: 0;
    bottom:0;
    box-sizing: border-box;
    background-size: 100% auto;
    position: absolute;
}
.navigation {
    padding: 1.4rem;
    
}
.navigation a {
    text-decoration: none;
    padding-left: 1.5rem;
    color:white;
}